<% title "My Profile" %>
<ul id="crumbs">
	<li><%= link_to "Home", :controller => 'posts', :action => 'index', :subdomain => 'www' %></li>
	<li>My Profile</li>
</ul>

<% if (params[:id].to_i == current_user.id) || current_user.is_admin? %>
<p><b>Username:</b> <%= @page_user.username %></p>
<p><b>Email:</b> <%= @page_user.email %></p>
<% if !@page_user.openid_identifier.nil? %><p><b>OpenID:</b> <%= @page_user.openid_identifier %></p><% end %>
<p><b>Address:</b> <%= @page_user.street_address + ", " + @page_user.city + ", " + @page_user.state + " " + @page_user.zip %></p>
<%= link_to 'Edit My Profile', edit_user_path(@page_user) %>
<h3>My Congress Members</h3>
<ul>
  <% for membership in @page_user.memberships %>
    <li>
      <%= link_to membership.member.title + ". " + membership.member.first_name + " " + membership.member.last_name, :subdomain => membership.member.username, 
		:controller => "posts", :action => "index" %>
    </li>
  <% end %>
</ul>
<% else %>
You do not have permission to access this page.
<% end %>

<% if @page_user.is_admin? %>
<h3>Admin Functions</h3>
<%= link_to 'Manage Users', '/admin/users' %><br/>
<%= link_to 'Manage Posts', '/admin/posts' %><br/>
<%= link_to 'Manage Congress Members', '/admin/members' %><br/>
<% end %>