<% title "My Profile" %>
<ul id="crumbs">
	<li><%= link_to "Home", :controller => 'posts', :action => 'index', :subdomain => 'www' %></li>
	<li>My Profile</li>
</ul>
<p><b>Username:</b> <%= current_user.username %></p>
<p><b>Email:</b> <%= current_user.email %></p>
<% if !current_user.openid_identifier.nil? %><p><b>OpenID:</b> <%= current_user.openid_identifier %></p><% end %>
<p><b>Address:</b> <%= current_user.street_address + ", " + current_user.city + ", " + current_user.state + " " + current_user.zip %></p>
<%= link_to 'Edit My Profile', edit_user_path(current_user) %>
<h2>My Congress Members</h2>
<ul>
  <% for membership in current_user.memberships %>
    <li>
      <%= link_to membership.member.title + ". " + membership.member.first_name + " " + membership.member.last_name, :subdomain => membership.member.username, 
		:controller => "posts", :action => "index" %>
    </li>
  <% end %>
</ul>
