<h1>Editing post</h1>

<% form_for(@response) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :response %><br />
    <%= f.text_area :response %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @response %> |
<%= link_to 'Back', responses_path %>