<p><%= current_subdomain %></p>
<h1>Listing posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%=h post.title %></td>
    <td><%=h post.body %></td>
	    <td><%= link_to 'Show', post %></td>
	<% if current_user %>
	    <td><%= link_to 'Edit', edit_post_path(post) %></td>
	    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />
<% if current_user %>
	<%= link_to 'New post', new_post_path %>
<% else %>
	<%= link_to 'New post', login_path %>
<% end %>