<% if current_subdomain != nil && Member.find_by_username(current_subdomain) != nil %>
	<% @page_member = Member.find_by_username(current_subdomain) %>
	<% title @page_member.first_name + " " + @page_member.last_name %>
	<h1><%= @page_member.first_name %> <%= @page_member.last_name %>'s Profile</h1>
	<%= @page_member.profile %>
	<br/>
	
	<% if !@page_member.active? %>
		<% if current_user %>
		<div id="shaker">
			<a href="<%= url_for :controller => 'posts', :action => 'new', :type => Type.find_by_name('Petition to Join').id, :member_id => @page_member.id %>"><img src="/img/clipboard.png" alt="Sign Petition" /></a>
		</div>
		<% end %>
	<% end %>
	
	<div id="tabs">
		<ul id="tabs-nav">
			<li id="tab-1" class="<% if @tab == 'tab-1' %>tab active<% else %>tab<% end %>"><a style="width: 108px;" href="?tab=tab-1"><span id="tab-1-loading" class="tab-loading"></span><span class="tab-label">Questions</span></a></li>
			<li id="tab-2" class="<% if @tab == 'tab-2' %>tab active<% else %>tab<% end %>"><a style="width: 80px;" href="?tab=tab-2"><span id="tab-2-loading" class="tab-loading"></span><span class="tab-label">Ideas</span></a></li>
			<li id="tab-3" class="<% if @tab == 'tab-3' %>tab active<% else %>tab<% end %>"><a style="width: 102px;" href="?tab=tab-3"><span id="tab-3-loading" class="tab-loading"></span><span class="tab-label">Problems</span></a></li>
			<li id="tab-4" class="<% if @tab == 'tab-4' %>tab active<% else %>tab<% end %>"><a style="width: 88px;" href="?tab=tab-4"><span id="tab-4-loading" class="tab-loading"></span><span class="tab-label">Praise</span></a></li>
		</ul>
		<div id="tabs-content">
			<div id="questions-content" style="display: <% if @tab == 'tab-1' %>block<% else %>none<% end %>;">
			<h1>Questions</h1>
			<table class="content-table">
			    <% @questions.each do |post| %>
			    <!-- post <%= post.id %> -->
			    <tr id="item_row<%= post.id %>">
			        <td class="votes">
			            <strong><span class='votes_count' id='votes_count<%= post.id %>'><%= (post.votes_for - post.votes_against).to_s %> votes</span></strong>
			            <% if current_user %>
							<% if !current_user.voted_for?(post) && !current_user.voted_against?(post) %>
								<br/>
					            <div id='vote_buttons<%= post.id %>'>
					                <div style="height:18px;">
										<%= link_to '<img alt="I Like This" height="18" src="img/vote-for.gif" width="21" style="border:0px;float:left;" />', url_for(:controller => 'posts', :action => 'vote', :id => post.id, :vote => 'up') %>
					                	&nbsp;&nbsp;
										<%= link_to '<img alt="No, Thanks" height="18" src="img/vote-against.gif" width="21" style="border:0px;" />', :controller => 'posts', :action => 'vote', :id => post.id, :vote => 'down' %>
									</div>
					            </div>
							<% end %>
						<% end %>
			        </td>
			        <td class="title">
			            <%= link_to post.title, post %>
			        </td>
			        <td class="summary">
			            <%=h post.body %>
			        </td>
			        <td class="info">
			            <%= User.find(post.created_by).username %>
			        </td>
					<td>
				        <% if post.responses.count > 0 %>
				            <img alt="Response" height="16" src="img/response.png" width="16" />&nbsp;<a href="javascript:;" onmousedown="displayRow('response<%= post.id %>');">View Response</a><br/>
				        <% end %>
						<% if post.comments.count > 0 %>
							<img alt="Comments" src="img/comments.png" width="16" height="16" />&nbsp;<%= link_to "Comments", post %><br/>
						<% end %>
						<% if current_user %>
					        <% if updatable(post) %>
					            <img alt="Edit" src="img/edit.png" width="16" height="16" /><%= link_to 'Edit My Post', edit_post_path(post) %>
					        <% end %>
					        <% if deletable(post) %>
					            <br/><img alt="Delete" src="img/delete.png" width="16" height="16" /><%= link_to 'Delete My Post', post , :confirm => 'Are you sure?', :method => :delete %>
					        <% end %>
				        <% end %>
						<% if current_member %>
							<%= link_to 'Respond', :controller => 'responses', :action => 'new', :id => post.id%>
						<% end %>
					</td>
			    </tr>
			    <% post.responses.each do |response| %>
			    <!-- response to post <%= post.id %> -->
			    <tr id="response<%= response.post_id %>" style="display:none;">
			        <td class="votes">
			        </td>
			        <td class="title">
			            <a href="#" style="text-align:right;"><%= Member.find(response.member_id).first_name + " " + Member.find(response.member_id).last_name %>'s Response:</a>
			        </td>
			        <td class="summary">
			            <p>
			                <%= h response.response %>
			            </p>
			        </td>
			        <td class="info">
			        </td>
			    </tr>
			    <% end %>
			    <% end %>
			</table>
			<br/>
			<%= will_paginate @questions %>
			<% if current_user %>
			<%= link_to 'I have a question for ' + @page_member.title + ". " + @page_member.last_name + '!', new_post_path %>
			<% else %>
			<%= link_to 'I have a question for ' + @page_member.title + ". " + @page_member.last_name + '!', login_path %>
			<% end %>
			</div>
			
			<div id="ideas-content" style="display: <% if @tab == 'tab-2' %>block<% else %>none<% end %>;">
			<h1>Ideas</h1>
			<table class="content-table">
			    <% @ideas.each do |post| %>
			    <!-- post <%= post.id %> -->
			    <tr id="item_row<%= post.id %>">
			        <td class="votes">
			            <strong><span class='votes_count' id='votes_count<%= post.id %>'><%= (post.votes_for - post.votes_against).to_s %> votes</span></strong>
			            <% if current_user %>
							<% if !current_user.voted_for?(post) && !current_user.voted_against?(post) %>
								<br/>
					            <div id='vote_buttons<%= post.id %>'>
					                <div style="height:18px;">
										<%= link_to '<img alt="I Like This" height="18" src="img/vote-for.gif" width="21" style="border:0px;float:left;" />', url_for(:controller => 'posts', :action => 'vote', :id => post.id, :vote => 'up') %>
					                	&nbsp;&nbsp;
										<%= link_to '<img alt="No, Thanks" height="18" src="img/vote-against.gif" width="21" style="border:0px;" />', :controller => 'posts', :action => 'vote', :id => post.id, :vote => 'down' %>
									</div>
					            </div>
							<% end %>
						<% end %>
			        </td>
			        <td class="title">
			            <%= link_to post.title, post %>
			        </td>
			        <td class="summary">
			            <%=h post.body %>
			        </td>
			        <td class="info">
			            <%= User.find(post.created_by).username %>
			        </td>
					<td>
				        <% if post.responses.count > 0 %>
				            <img alt="Response" height="16" src="img/response.png" width="16" />&nbsp;<a href="javascript:;" onmousedown="displayRow('response<%= post.id %>');">View Response</a><br/>
				        <% end %>
						<% if post.comments.count > 0 %>
							<img alt="Comments" src="img/comments.png" width="16" height="16" />&nbsp;<%= link_to "Comments", post %><br/>
						<% end %>
						<% if current_user %>
					        <% if updatable(post) %>
					            <img alt="Edit" src="img/edit.png" width="16" height="16" /><%= link_to 'Edit My Post', edit_post_path(post) %>
					        <% end %>
					        <% if deletable(post) %>
					            <br/><img alt="Delete" src="img/delete.png" width="16" height="16" /><%= link_to 'Delete My Post', post , :confirm => 'Are you sure?', :method => :delete %>
					        <% end %>
				        <% end %>
						<% if current_member %>
							<%= link_to 'Respond', :controller => 'responses', :action => 'new', :id => post.id%>
						<% end %>
					</td>
			    </tr>
			    <% post.responses.each do |response| %>
			    <!-- response to post <%= post.id %> -->
			    <tr id="response<%= response.post_id %>" style="display:none;">
			        <td class="votes">
			        </td>
			        <td class="title">
			            <a href="#" style="text-align:right;"><%= Member.find(response.member_id).first_name + " " + Member.find(response.member_id).last_name %>'s Response:</a>
			        </td>
			        <td class="summary">
			            <p>
			                <%= h response.response %>
			            </p>
			        </td>
			        <td class="info">
			        </td>
			    </tr>
			    <% end %>
			    <% end %>
			</table>
			<br/>
			<%= will_paginate @ideas %>
			<% if current_user %>
			<%= link_to 'I have an idea for ' + @page_member.title + ". " + @page_member.last_name + '!', new_post_path %>
			<% else %>
			<%= link_to 'I have an idea for ' + @page_member.title + ". " + @page_member.last_name + '!', login_path %>
			<% end %>
			</div>
			
			<div id="problems-content" style="display: <% if @tab == 'tab-3' %>block<% else %>none<% end %>;">
			<h1>Problems</h1>
			<table class="content-table">
			    <% @problems.each do |post| %>
			    <!-- post <%= post.id %> -->
			    <tr id="item_row<%= post.id %>">
			        <td class="votes">
			            <strong><span class='votes_count' id='votes_count<%= post.id %>'><%= (post.votes_for - post.votes_against).to_s %> votes</span></strong>
			            <% if current_user %>
							<% if !current_user.voted_for?(post) && !current_user.voted_against?(post) %>
								<br/>
					            <div id='vote_buttons<%= post.id %>'>
					                <div style="height:18px;">
										<%= link_to '<img alt="I Like This" height="18" src="img/vote-for.gif" width="21" style="border:0px;float:left;" />', url_for(:controller => 'posts', :action => 'vote', :id => post.id, :vote => 'up') %>
					                	&nbsp;&nbsp;
										<%= link_to '<img alt="No, Thanks" height="18" src="img/vote-against.gif" width="21" style="border:0px;" />', :controller => 'posts', :action => 'vote', :id => post.id, :vote => 'down' %>
									</div>
					            </div>
							<% end %>
						<% end %>
			        </td>
			        <td class="title">
			            <%= link_to post.title, post %>
			        </td>
			        <td class="summary">
			            <%=h post.body %>
			        </td>
			        <td class="info">
			            <%= User.find(post.created_by).username %>
			        </td>
					<td>
				        <% if post.responses.count > 0 %>
				            <img alt="Response" height="16" src="img/response.png" width="16" />&nbsp;<a href="javascript:;" onmousedown="displayRow('response<%= post.id %>');">View Response</a><br/>
				        <% end %>
						<% if post.comments.count > 0 %>
							<img alt="Comments" src="img/comments.png" width="16" height="16" />&nbsp;<%= link_to "Comments", post %><br/>
						<% end %>
						<% if current_user %>
					        <% if updatable(post) %>
					            <img alt="Edit" src="img/edit.png" width="16" height="16" /><%= link_to 'Edit My Post', edit_post_path(post) %>
					        <% end %>
					        <% if deletable(post) %>
					            <br/><img alt="Delete" src="img/delete.png" width="16" height="16" /><%= link_to 'Delete My Post', post , :confirm => 'Are you sure?', :method => :delete %>
					        <% end %>
				        <% end %>
						<% if current_member %>
							<%= link_to 'Respond', :controller => 'responses', :action => 'new', :id => post.id%>
						<% end %>
					</td>
			    </tr>
			    <% post.responses.each do |response| %>
			    <!-- response to post <%= post.id %> -->
			    <tr id="response<%= response.post_id %>" style="display:none;">
			        <td class="votes">
			        </td>
			        <td class="title">
			            <a href="#" style="text-align:right;"><%= Member.find(response.member_id).first_name + " " + Member.find(response.member_id).last_name %>'s Response:</a>
			        </td>
			        <td class="summary">
			            <p>
			                <%= h response.response %>
			            </p>
			        </td>
			        <td class="info">
			        </td>
			    </tr>
			    <% end %>
			    <% end %>
			</table>
			<br/>
			<%= will_paginate @problems %>
			<% if current_user %>
			<%= link_to 'Have a problem with ' + @page_member.title + ". " + @page_member.last_name + '?', new_post_path %>
			<% else %>
			<%= link_to 'Have a problem with ' + @page_member.title + ". " + @page_member.last_name + '?', login_path %>
			<% end %>
			</div>
			
			<div id="praise-content" style="display: <% if @tab == 'tab-4' %>block<% else %>none<% end %>;">
			<h1>Praise</h1>
			<table class="content-table">
			    <% @praise.each do |post| %>
			    <!-- post <%= post.id %> -->
			    <tr id="item_row<%= post.id %>">
			        <td class="votes">
			            <strong><span class='votes_count' id='votes_count<%= post.id %>'><%= (post.votes_for - post.votes_against).to_s %> votes</span></strong>
			            <% if current_user %>
							<% if !current_user.voted_for?(post) && !current_user.voted_against?(post) %>
								<br/>
					            <div id='vote_buttons<%= post.id %>'>
					                <div style="height:18px;">
										<%= link_to '<img alt="I Like This" height="18" src="img/vote-for.gif" width="21" style="border:0px;float:left;" />', url_for(:controller => 'posts', :action => 'vote', :id => post.id, :vote => 'up') %>
					                	&nbsp;&nbsp;
										<%= link_to '<img alt="No, Thanks" height="18" src="img/vote-against.gif" width="21" style="border:0px;" />', :controller => 'posts', :action => 'vote', :id => post.id, :vote => 'down' %>
									</div>
					            </div>
							<% end %>
						<% end %>
			        </td>
			        <td class="title">
			            <%= link_to post.title, post %>
			        </td>
			        <td class="summary">
			            <%=h post.body %>
			        </td>
			        <td class="info">
			            <%= User.find(post.created_by).username %>
			        </td>
					<td>
				        <% if post.responses.count > 0 %>
				            <img alt="Response" height="16" src="img/response.png" width="16" />&nbsp;<a href="javascript:;" onmousedown="displayRow('response<%= post.id %>');">View Response</a><br/>
				        <% end %>
						<% if post.comments.count > 0 %>
							<img alt="Comments" src="img/comments.png" width="16" height="16" />&nbsp;<%= link_to "Comments", post %><br/>
						<% end %>
						<% if current_user %>
					        <% if updatable(post) %>
					            <img alt="Edit" src="img/edit.png" width="16" height="16" /><%= link_to 'Edit My Post', edit_post_path(post) %>
					        <% end %>
					        <% if deletable(post) %>
					            <br/><img alt="Delete" src="img/delete.png" width="16" height="16" /><%= link_to 'Delete My Post', post , :confirm => 'Are you sure?', :method => :delete %>
					        <% end %>
				        <% end %>
						<% if current_member %>
							<%= link_to 'Respond', :controller => 'responses', :action => 'new', :id => post.id%>
						<% end %>
					</td>
			    </tr>
			    <% post.responses.each do |response| %>
			    <!-- response to post <%= post.id %> -->
			    <tr id="response<%= response.post_id %>" style="display:none;">
			        <td class="votes">
			        </td>
			        <td class="title">
			            <a href="#" style="text-align:right;"><%= Member.find(response.member_id).first_name + " " + Member.find(response.member_id).last_name %>'s Response:</a>
			        </td>
			        <td class="summary">
			            <p>
			                <%= h response.response %>
			            </p>
			        </td>
			        <td class="info">
			        </td>
			    </tr>
			    <% end %>
			    <% end %>
			</table>
			<br/>
			<%= will_paginate @praise %>
			<% if current_user %>
			<%= link_to 'I have praise for ' + @page_member.title + ". " + @page_member.last_name + '!', new_post_path %>
			<% else %>
			<%= link_to 'I have praise for ' + @page_member.title + ". " + @page_member.last_name + '!', login_path %>
			<% end %>
			</div>
		</div>
	</div>
	<% if !@page_member.active? %>
	<br/><br/>
	<div id="tabs">
		<ul id="tabs-nav">
			Petition for <%= @page_member.title + ". " + @page_member.last_name %> to Join
		</ul>
		<div id="tabs-content">
			<div id="questions-content" style="display: <% if @tab == 'tab-1' %>block<% else %>none<% end %>;">
			<h3>Signatures (<%= @petitions.length %>)</h3>
			<table class="content-table">
				<tr>
					<td>Link to Signature</td>
					<td>Comments</td>
					<td>Constituent</td>
					<td></td>
				</tr>
			    <% @petitions.each do |post| %>
			    <!-- post <%= post.id %> -->
			    <tr id="item_row<%= post.id %>">
			        <td>
			            <%= link_to post.title, post %>
			        </td>
			        <td class="summary">
			            <%=h post.body %>
			        </td>
			        <td class="info">
			            <%= User.find(post.created_by).username %>
			        </td>
					<td>
				        <% if post.responses.count > 0 %>
				            <img alt="Response" height="16" src="img/response.png" width="16" />&nbsp;<a href="javascript:;" onmousedown="displayRow('response<%= post.id %>');">View Response</a><br/>
				        <% end %>
						<% if post.comments.count > 0 %>
							<img alt="Comments" src="img/comments.png" width="16" height="16" />&nbsp;<%= link_to "Comments", post %><br/>
						<% end %>
						<% if current_user %>
					        <% if updatable(post) %>
					            <img alt="Edit" src="img/edit.png" width="16" height="16" /><%= link_to 'Edit My Post', edit_post_path(post) %>
					        <% end %>
					        <% if deletable(post) %>
					            <br/><img alt="Delete" src="img/delete.png" width="16" height="16" /><%= link_to 'Delete My Post', post , :confirm => 'Are you sure?', :method => :delete %>
					        <% end %>
				        <% end %>
						<% if current_member %>
							<%= link_to 'Respond', :controller => 'responses', :action => 'new', :id => post.id%>
						<% end %>
					</td>
			    </tr>
			    <% post.responses.each do |response| %>
			    <!-- response to post <%= post.id %> -->
			    <tr id="response<%= response.post_id %>" style="display:none;">
			        <td class="votes">
			        </td>
			        <td class="title">
			            <a href="#" style="text-align:right;"><%= Member.find(response.member_id).first_name + " " + Member.find(response.member_id).last_name %>'s Response:</a>
			        </td>
			        <td class="summary">
			            <p>
			                <%= h response.response %>
			            </p>
			        </td>
			        <td class="info">
			        </td>
			    </tr>
			    <% end %>
			    <% end %>
			</table>
			<br/>
			<%= will_paginate @petitions %>
			<% if current_user %>
			<%= link_to 'Sign petition!', :controller => 'posts', :action => 'new', :type => Type.find_by_name('Petition to Join').id, :member_id => @page_member.id %>
			<% else %>
			<%= link_to 'Sign petition!', login_path %>
			<% end %>
			</div>
		</div>
	</div>
	<% end %>
	
<% else %>
	<% title "Listing Posts" %>
	<% if current_subdomain != nil && Member.find_by_username(current_subdomain) == nil %>
		<% flash[:error] = 'Invalid subdomain - No match found for "' + current_subdomain + '".' %>
	<% end %>
	<div id="ranking-links">
		<%= link_to "Most Recent", :controller => 'posts', :action => 'index', :subdomain => 'www' %> | 
		<%= link_to "Most Active", :controller => 'posts', :action => 'rank', :type => 'active', :weeks => 2, :subdomain => 'www' %> | 
		<%= link_to "Most Popular", :controller => 'posts', :action => 'rank', :type => 'popular', :weeks => 2, :subdomain => 'www' %> | 
		<%= link_to "Most Opposed", :controller => 'posts', :action => 'rank', :type => 'unpopular', :weeks => 2, :subdomain => 'www' %>
	</div><br/>
	<table class="content-table">
	    <tr>
	        <th>Votes</th>
	        <th>Title</th>
	        <th>Body</th>
	        <th>Author</th>
	        <th>Actions</th>
	    </tr>
	    <% @posts.each do |post| %>
	    <!-- post <%= post.id %> -->
	    <tr id="item_row<%= post.id %>">
	        <td class="votes">
	            <strong><span class='votes_count' id='votes_count<%= post.id %>'><%= (post.votes_for - post.votes_against).to_s %> votes</span></strong>
	            <% if current_user %>
					<% if !current_user.voted_for?(post) && !current_user.voted_against?(post) %>
						<br/>
			            <div id='vote_buttons<%= post.id %>'>
			                <div style="height:18px;">
								<%= link_to '<img alt="I Like This" height="18" src="img/vote-for.gif" width="21" style="border:0px;float:left;" />', url_for(:controller => 'posts', :action => 'vote', :id => post.id, :vote => 'up') %>
			                	&nbsp;&nbsp;
								<%= link_to '<img alt="No, Thanks" height="18" src="img/vote-against.gif" width="21" style="border:0px;" />', :controller => 'posts', :action => 'vote', :id => post.id, :vote => 'down' %>
							</div>
			            </div>
					<% end %>
				<% end %>
	        </td>
	        <td class="title">
	            <%= link_to post.title, post %>
	        </td>
	        <td class="summary">
	            <%=h post.body %>
	        </td>
	        <td class="info">
	            <%= User.find(post.created_by).username %>
	        </td>
			<td>
		        <% if post.responses.count > 0 %>
		            <img alt="Response" height="16" src="img/response.png" width="16" />&nbsp;<a href="javascript:;" onmousedown="displayRow('response<%= post.id %>');">View Response</a><br/>
		        <% end %>
				<% if post.comments.count > 0 %>
					<img alt="Comments" src="img/comments.png" width="16" height="16" />&nbsp;<%= link_to "Comments", post %><br/>
				<% end %>
				<% if current_user %>
			        <% if updatable(post) %>
			            <img alt="Edit" src="img/edit.png" width="16" height="16" /><%= link_to 'Edit My Post', edit_post_path(post) %>
			        <% end %>
			        <% if deletable(post) %>
			            <br/><img alt="Delete" src="img/delete.png" width="16" height="16" /><%= link_to 'Delete My Post', post , :confirm => 'Are you sure?', :method => :delete %>
			        <% end %>
		        <% end %>
			</td>
	    </tr>
	    <% post.responses.each do |response| %>
	    <!-- response to post <%= post.id %> -->
	    <tr id="response<%= response.post_id %>" style="display:none;">
	        <td class="votes">
	        </td>
	        <td class="title">
	            <a href="#" style="text-align:right;"><%= Member.find(response.member_id).first_name + " " + Member.find(response.member_id).last_name %>'s Response:</a>
	        </td>
	        <td class="summary">
	            <p>
	                <%= h response.response %>
	            </p>
	        </td>
	        <td class="info">
	        </td>
	    </tr>
	    <% end %>
	    <% end %>
	</table>
	<br/>
	<%= will_paginate @posts %>
	<% if current_user %>
	<%= link_to 'New post', new_post_path %>
	<% else %>
	<%= link_to 'New post', login_path %>
	<% end %>
<% end %>