<p><%= current_subdomain %></p>
<% if current_user %>
	<p>You are logged in as <%= current_user.username %>.</p>
<% end %>
<h1>Listing posts</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
	<th>AuthorID</th>
	<th>Votes</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%=h post.title %></td>
    <td><%=h post.body %></td>
	<td><%= post.created_by %></td>
	<td><%= (post.votes_for - post.votes_against).to_s %>
	<td><%= link_to 'Show', post %></td>
	<% if current_user %>
		<td><%= link_to 'Vote Up', url_for(:controller => 'posts', :action => 'vote', :id => post.id, :vote => 'up') %></td>
		<td><%= link_to 'Vote Down', :controller => 'posts', :action => 'vote', :id => post.id, :vote => 'down' %></td>
		<% if updatable(post) %>
	   	 	<td><%= link_to 'Edit', edit_post_path(post) %></td>
		<% end %>
		<% if deletable(post) %>
			<td> <%= link_to 'Delete', post , :confirm => 'Are you sure?', :method => :delete %></td>
		<% end %>
	<% end %>
  </tr>
<% end %>
</table>

<br />
<% if current_user %>
	<%= link_to 'New post', new_post_path %>
<% else %>
	<%= link_to 'New post', login_path %>
<% end %>