<% if current_subdomain != nil && Member.find_by_username(current_subdomain) != nil %>
	<% @current_member = Member.find_by_username(current_subdomain) %>
	<% title @current_member.first_name + " " + @current_member.last_name %>
	<h1><%= @current_member.first_name %> <%= @current_member.last_name %>'s Profile</h1>
	<%= @current_member.profile %>
	<h1>Constituent Posts</h1>
	<ul>
	    <% @posts.each do |post| %>
		<% if post.member_id == @current_member.id %>
		    <li>
		        <%= h post.title %>
				<%= link_to 'Read', post %>
				<% if current_member %>
					<%= link_to 'Respond', :controller => 'responses', :action => 'new', :id => post.id%>
				<% end %>
		    </li>
		<% end %>
	    <% end %>
	</ul>
<% else %>
	<% title "Listing Posts" %>
	<% if current_subdomain != nil && Member.find_by_username(current_subdomain) == nil %>
		<% flash[:error] = 'Invalid subdomain - No match found for "' + current_subdomain + '".' %>
	<% end %>
	<table class="content-table">
	    <tr>
	        <th>Votes</th>
	        <th>Title</th>
	        <th>Body</th>
	        <th>Author</th>
	        <th>Actions</th>
	    </tr>
	    <% @posts.each do |post| %>
	    <!-- post <%= post.id %> -->
	    <tr id="item_row<%= post.id %>">
	        <td class="votes">
	            <strong><span class='votes_count' id='votes_count<%= post.id %>'><%= (post.votes_for - post.votes_against).to_s %> votes</span></strong>
	            <% if current_user %>
					<% if !current_user.voted_for?(post)%>
						<br/>
			            <div id='vote_buttons<%= post.id %>'>
			                <div style="height:24px;"><%= link_to '<img alt="I Like This" height="24" src="img/up.png" width="24" style="border:0px;float:left;" />' + '&nbsp;Vote Up', url_for(:controller => 'posts', :action => 'vote', :id => post.id, :vote => 'up') %></div>
			                 <div style="height:24px;"><%= link_to '<img alt="No, Thanks" height="24" src="img/down.png" width="24" style="border:0px;float:left;" />' + '&nbsp;Vote Down', :controller => 'posts', :action => 'vote', :id => post.id, :vote => 'down' %></div>
			            </div>
					<% end %>
				<% end %>
	        </td>
	        <td class="title">
	            <%= link_to post.title, post %>
	        </td>
	        <td class="summary">
	            <%=h post.body %>
	        </td>
	        <td class="info">
	            <%= User.find(post.created_by).username %>
	        </td>
			<td>
		        <% if post.responses.count > 0 %>
		            <img alt="Response" height="24" src="img/star_48.png" width="24" />&nbsp;<a href="javascript:;" onmousedown="displayRow('response<%= post.id %>');">View Response</a>
		        <% end %>
				<% if post.comments.count > 0 %>
					<img alt="Comments" src="img/comment.png" width="24" height="24" />&nbsp;<%= link_to "Comments", post %>
				<% end %>
				<% if current_user %>
			        <% if updatable(post) %>
			            <br/><%= link_to 'Edit My Post', edit_post_path(post) %>
			        <% end %>
			        <% if deletable(post) %>
			            <br/><%= link_to 'Delete My Post', post , :confirm => 'Are you sure?', :method => :delete %>
			        <% end %>
		        <% end %>
			</td>
	    </tr>
	    <% post.responses.each do |response| %>
	    <!-- response to post <%= post.id %> -->
	    <tr id="response<%= response.post_id %>" style="display:none;">
	        <td class="votes">
	        </td>
	        <td class="title">
	            <a href="#" style="text-align:right;"><%= Member.find(response.member_id).first_name + " " + Member.find(response.member_id).last_name %>'s Response:</a>
	        </td>
	        <td class="summary">
	            <p>
	                <%= h response.response %>
	            </p>
	        </td>
	        <td class="info">
	        </td>
	    </tr>
	    <% end %>
	    <% end %>
	</table>
	<br/>
	<%= will_paginate @posts %>
	<% if current_user %>
	<%= link_to 'New post', new_post_path %>
	<% else %>
	<%= link_to 'New post', login_path %>
	<% end %>
<% end %>