<% title "New Post" %>

<%= form_for(@post) do |f| %>
  <%= f.error_messages %>
<% if @petition_mode %>
<ul id="crumbs">
	<li><%= link_to "Home", :controller => 'posts', :action => 'index', :subdomain => 'www' %></li>
	<li><%= link_to "Congress Members", :controller => 'members', :action => 'index', :subdomain => 'www' %></li>
	<li><%= link_to @members[0][0], request.env['HTTP_REFERER'] %>
	<li>Sign Petition</li>
</ul>
  <h3>Title:</h3>
  <p>
    <%= f.text_field :title, :value => "Petition for " + @members[0][0] + " to join" %>
  </p>
  <h3>Which Congress Member?</h3>
  <p>
	<%= f.select :member_id, @members, {}, :class => 'styled' %>
  </p>
  <h3>Type of Post</h3>
  <p>
	<%= f.select :type_id, @types, {}, :class => 'styled' %>
  </p>
  <p>
    <%= f.label :body, "Comments" %><br />
    <%= f.text_area :body %>
  </p>
  <%= f.hidden_field :created_by, :value => current_user.id %>
  <p>
    <%= f.submit 'Sign Petition', :class => 'small blue awesome' %>
	<%= link_to 'Cancel', request.env['HTTP_REFERER'], :class => 'medium blue awesome' %>
  </p>
<% else %>
  <h3>Short Description:</h3>
  <p>
    <%= f.text_field :title %>
  </p>
  <h3>Which Congress Member?</h3>
  <p>
	<%= f.select :member_id, @members, {}, :class => 'styled' %>
  </p>
  <h3>Type of Post</h3>
  <p>
	<%= f.select :type_id, @types, {}, :class => 'styled' %>
  </p>
  <h3>Category</h3>
  <p>
	<%= f.select :category_id, @categories, {}, :class => 'styled' %>
  </p>
  <h3>Details:</h3>
  <p>
    <%= f.text_area :body %>
  </p>
  <%= f.hidden_field :created_by, :value => current_user.id %>
  <p>
    <%= f.submit 'Post it!', :class => 'small blue awesome' %>
	<%= link_to 'Cancel', request.env['HTTP_REFERER'], :class => 'medium blue awesome' %>
  </p>
<% end %>
<% end %>
