<h1>New post</h1>

<% form_for(@post) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <h3>Which Congress Member?</h3>
  <p>
	<%= select("post", "member_id", @members) %>
  </p>
  <p>
  	<% for member in @members %>
		<p><%= member %></p>
	<% end %>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <%= f.hidden_field :created_by, :value => current_user.id %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', posts_path %>