<% if current_user %>
    <% if updatable(@post) %>
        <%= link_to 'Edit My Post', edit_post_path(@post) %> | 
    <% end %>
    <% if deletable(@post) %>
        <%= link_to 'Delete My Post', @post , :confirm => 'Are you sure?', :method => :delete %> | 
    <% end %>
<% end %>
<%= link_to 'Back', posts_path %>
<% title @post.title %>
<p>
    <b>Title:</b>
    <%=h @post.title %>
</p>
<p>
    <b>Body:</b>
    <%=h @post.body %>
</p>
<p>
	<b>Category:</b>
	<% if @category != nil %>
		<%= link_to @category.name, :controller => 'categories', :action => 'show', :id => @category.id %>
	<% end %>
</p>
<%= "<br/><b>Votes: " + (@post.votes_for - @post.votes_against).to_s + "</b> (" + @post.votes_for.to_s + " up, " + @post.votes_against.to_s + " down)" %>

<!--display a response if it exists-->
<hr> <h4>Responses</h4>
<ul>
	<% @post.responses.each do |response| %>
	<li>
		<%= h response.response %>
		<br>
		<div class = "dateline">
			By <%= Member.find(response.member_id).first_name + " " + Member.find(response.member_id).last_name %><br>
			Posted on <%= response.created_at.strftime("%B %d, %Y at %I:%M %p") %>
		</div>
		</li>
	<% end %>
</ul>
		
<!--display all comments-->
<hr><h4>Comments</h4>
<ul>
    <% @post.comments.each do |comment| %>
	    <li>
	        <%= h comment.comment %>
	        <br>
	        <div class = "dateline">
	            Posted on <%= comment.created_at.strftime("%B %d, %Y at %I:%M %p") %>
	        </div>
	    </li>
    <% end %>
</ul>

<!-- if logged in, show the comment form -->
<% if current_user %>
	<% form_for(:comment, :url => post_comments_path(@post)) do |f| %>
		<p>
		    Comment:<br/>
		    <%= f.text_area :comment %>
		</p>
		<%= f.submit "Add Comment" %>
	<% end %>
<% end %>