<% title "Log In" %>
<ul id="crumbs">
	<li><%= link_to "Home", :controller => 'posts', :action => 'index', :subdomain => 'www' %></li>
	<li>Log In</li>
</ul>

<% form_for @user_session do |f| %>
  <%= f.error_messages %>
  <fieldset style="float: left;"><legend>Username/Password</legend>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p><%= f.submit "Log In", :class => 'small blue awesome' %></p>
  </fieldset>
  <fieldset style="float: left;"><legend>Or Use OpenID</legend>
	<p>
	  <%= f.label :openid_identifier, "OpenID URL" %><br />
	  <%= f.text_field :openid_identifier %>
	</p>
	<p><%= f.submit "Log In", :class => 'small blue awesome' %></p>
  </fieldset>
  <div style="clear: both;">&nbsp;</div>
  <p style="display:block;">New user? <%= link_to "Register Here!", :new_user %></p>
  <p style="display:block;">Congress Member? <%= link_to "Login Here!", memberlogin_path %></p>
<% end %>


