<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head>  
 	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
	<title><%= h(yield(:title) || "Untitled") %></title>
	<%= stylesheet_link_tag 'application' %>
	<%= javascript_include_tag 'mootools-1.2' %>
	<%= javascript_include_tag 'tabs' %>
	<%= yield(:head) %>
</head> 
<body> 
<script type="text/javascript">
function displayRow(rowName){
	var row = document.getElementById(rowName);
	if (row.style.display == '')  row.style.display = 'none';
	else row.style.display = '';
}
</script>
	<div id="site">
		<div id="head">
			<div id="navigation">
				<div class="container">
	 				<div id="navigation-logo"><span>My Agenda</span></div>
						<% if current_user %>
							<%= link_to "Logout", logout_path %>
						  	<%= link_to "My Profile", :controller => 'users', :action => 'show', :id => 'current', :subdomain => false %>
							<%= link_to "Categories", :controller => 'categories', :action => 'index', :subdomain => false %>
							<%= link_to "Congress Members", :controller => 'members', :action => 'index', :subdomain => false %>
							<%= link_to "Hello, " + current_user.username + "!", :controller => 'posts', :action => 'index', :subdomain => false %>
						<% else %>
							<%= link_to "Login", login_path %>
						  	<%= link_to "Register", :controller => 'users', :action => 'new', :subdomain => false %>
							<%= link_to "Categories", :controller => 'categories', :action => 'index', :subdomain => false %>
							<%= link_to "Congress Members", :controller => 'members', :action => 'index', :subdomain => false %>
						<% end %>
					</div>
				</div> 
			<h1 class="container"><%= yield(:title) %></h1>
		</div> 
		<div id="body">
			<% if flash[:notice] %>
				<p style="color: green"><%= flash[:notice] %></p>
			<% end %>
			<% if flash[:error] %>
				<p style="color: red"><%= flash[:error] %></p>
			<% end %>
			<%= yield %>
		</div>
	</div> 
	<div id="footer">
		<div class="container">
			<span style="float:left"><a href="http://validator.w3.org/check?uri=referer">
			<img src="http://www.w3.org/Icons/valid-xhtml10-blue"
				alt="Valid XHTML 1.0 Strict" height="31" width="88" /></a></span>
			<% if current_user %>
            <%= link_to "Logout", logout_path %>
            <%= link_to "My Profile", :controller => 'users', :action => 'show', :id => 'current', :subdomain => false %>
			<%= link_to "Categories", :controller => 'categories', :action => 'index', :subdomain => false %>
			<%= link_to "Congress Members", :controller => 'members', :action => 'index', :subdomain => false %>
            <% else %>
            <%= link_to "Login", login_path %>
            <%= link_to "Register", :controller => 'users', :action => 'new', :subdomain => false %>
			<%= link_to "Categories", :controller => 'categories', :action => 'index', :subdomain => false %>
			<%= link_to "Congress Members", :controller => 'members', :action => 'index', :subdomain => false %>
            <% end %>
		</div>
	</div>
<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-8658456-1");
	pageTracker._trackPageview();
	} catch(err) {}
</script> 
</body> 
</html>