<p>
    <b>Name:</b>
    <%=h @member.first_name %> <%=h @member.last_name %>
</p>
<p>
    <b>Email:</b>
    <%=h @member.email %>
</p>
<p>
    <b>Profile:</b>
    <%=h @member.profile %>
</p>
<% if current_member %>
	<%= link_to 'Edit', edit_member_path(@member) %> |<%= link_to 'Back', root_url %>
<% end %>

<h4>Constituent Posts</h4>
<ul>
    <% @posts.each do |post| %>
	<% if post.member_id == @member.id %>
	    <li>
	        <%= h post.title %>
			<%= link_to 'Read', post %>
			<% if current_member %>
				<%= link_to 'Respond', :controller => 'responses', :action => 'new', :id => post.id%>
			<% end %>
	    </li>
	<% end %>
    <% end %>
</ul>