<p>
    <b>Name:</b>
    <%=h @member.first_name %> <%=h @member.last_name %>
</p>
<p>
    <b>Email:</b>
    <%=h @member.email %>
</p>
<p>
    <b>Profile:</b>
    <%=h @member.profile %>
</p>
<% if current_member %>
	<%= link_to 'Edit My Profile', edit_member_path(@member) %>
<% end %>